<template name="importRecipients">
        <form class="ui form recipientsForm">
            <div class="ui grid">
                <div class="ui row">
                    <div class="column">
                        <label>Select a .csv file to import:</label>
                        <input type="file" name="recipientFiles" id="recipientFile" accept=".csv" />
                    </div>
                </div>
                <div class="ui row">
                    <div class="column">
                        <button id="addImportFile" class="ui approve button primary">Upload and Import</button>
                    </div>
                </div>
            </div>
        </form>
        {{> missingDataModal}}
</template>
