<template name="importRecipients">
    <div class="container importForm">
        <form>
            <div class="ui grid">
                <div class="row">
                    <div class="col s12">
                        <label>Select a .csv file to import:</label>
                        <input type="file" name="recipientFiles" id="recipientFile" accept=".csv" />
                    </div>
                </div>
                <div class="row">
                    <div class="col12">
                        <a id="addImportFile" class="waves-effect waves-light btn blue"><i class="material-icons left">input</i>Upload and Import</a>
                    </div>
                </div>
            </div>
        </form>
        {{> missingDataModal}}
    </div>
</template>
