<template name="myCompletedGifts">
    {{#if currentUser}}
    <div class="templateWrapper">
        <div class="container contentInfo">
            <div class="fixed-action-btn">
                <a id="printComplete" class="btn-floating btn-large green printThese">
                  <i class="large material-icons">local_printshop</i>
                </a>
            </div>
            <p>
                <strong>Below are Seniors you've completed purchasing gifts for.  Please take a minute to print the gift tags using the
                    print button in the bottom right. Attach the tag to each gift, and make sure to drop off your gifts at one of the
                    following locations.:</strong>
            </p>

            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="row">
                            <div class="col s12">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s4">
                                            Home Instead Senior Care<br />
                                            1010 Slide Rd.<br />
                                            Lubbock, TX 79416<br /><br />
                                        </div>
                                        <div class="col s4">
                                            City Bank<br />
                                            5219 City Bank Parkway<br />
                                            Lubbock, TX 79407
                                        </div>
                                        <div class="col s4">
                                            Lakeridge Chapel and<br />
                                            Memorial Designers<br />
                                            6025 82nd St.<br />
                                            Lubbock, TX 79424
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4 offset-s2">
                                            Tom's Tree place<br />
                                            5104 34th ST<br />
                                            Lubbock, TX 79401
                                        </div>
                                        <div class="col s4">
                                            Walmart Supercenter<br />
                                            4215 S. Loop 289<br />
                                            Lubbock, TX 79423
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#each completedRecipients}}
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="row">
                            <div class="col s12">
                                <div class="card-content blue-grey darken-1 white-text">
                                    <div class="row">
                                        <div class="col s8">
                                            <span class="card-title"><i class="material-icons">done</i>&nbsp; {{name.first}}</span>
                                        </div>
                                        <div class="col s4">
                                            <label class="white-text">Gender: </label><span class="personInfo">{{gender}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <label class="white-text">Bastas ID </label><span class="white-text">{{bastasId}}</span>
                                        </div>
                                        <div class="col s6">
                                            <label class="white-text">Route </label><span class="white-text">{{route}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h5>Gifts</h5>
                                    {{#each gifts}}
                                        <div class="row">
                                            <div class="col l6">
                                                <label>Gift: </label><span class="giftInfo">{{giftType}}</span>
                                            </div>
                                            <div class="col l6">
                                                <label>Size: </label><span class="giftInfo">{{giftSize}}</span>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
            {{/each}}
        </div>
    </div>
    {{> snackbar}}
    {{else}}
        <div class="signInWrapper">
            <div class="container contentInfo">
                <h5>Please Sign In or Register to access this page.</h5>
            </div>
        </div>
    {{/if}}
</template>
