<template name="backupUI">
    <div class="container templateWrapper">
        <div>
            <h4>Backup your BASTAS Database</h4>
        </div>
        <div>
            <label>Last Backup:</label>
            {{lastBackup}}
        </div>
        <div>
            <h4>Select a location to save a backup:</h4>
            <p>
                Keep in mind, this needs to be a path that is accessible on the server.  Also, the path needs to be the full path starting from the root directory.<br /><br />
                Remember, that the backup happens on the server, not on your local machine.  The full backup path will be a folder named as the last part of your path plus the date and time of the backup.
                <br /><br />

                So if you enter:<br />
                /home/brian/myMeteorBackup
                <br /><br />
                The final folder will look like:<br />
                /home/brian/myMeteorBackup_20161124-152341
                <br /><br />
                This means you can use the same path of /home/brian/myMeteorBackup (or whatever you choose) for each save, and it will always add a new backup.
            </p>
        </div>
        <div>
            <label>Path to save the backup:</label>
            <input type="text" id="savePath" />
        </div>
        <div>
            <a id="backupNow" class="waves-effect waves-light btn blue"><i class="material-icons left">dns</i>Backup Now</a>
        </div>
    </div>
    {{> snackbar}}
</template>
