<template name="setWebRecipient">
    <div class="container">
        <div class="templateWrapper">
            <h2>Setup Web Recipients</h2>
        </div>

        <div class="row">
            <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#selectWebRecipients">Select Web Recipients</a></li>
                <li class="tab col s6"><a href="#currentWebRecipients">Current Web Recipients</a></li>
            </ul>
            </div>
            <div id="selectWebRecipients" class="col s12">Select Web Recipients</div>
            <div id="currentWebRecipients" class="col s12">{{> currentWebRecipients}}</div>
        </div>
    </div>
</template>