<template name="displayRecipAndGifts">
    <div class="container">
    <form class="ui form recipientsForm">
        <div class="ui stackable grid">
            <div class="row headerRow">
                <div class="column">
                    <b>Bastas ID</b>
                </div>
                <div class="column">
                    <b>Route</b>
                </div>
                <div class="column">
                    <b>Name</b>
                </div>
                <div class="two wide column">
                    <b>Address</b>
                </div>
                <div class="two wide column">
                    <b>Gift Type 1</b>
                </div>
                <div class="column">
                    <b>Gift Size 1</b>
                </div>
                <div class="two wide column">
                    <b>Gift 1 Status</b>
                </div>
                <div class="two wide column">
                    <b>Gift Type 2</b>
                </div>
                <div class="column">
                    <b>Gift Size 2</b>
                </div>
                <div class="two wide column">
                    <b>Gift 2 Status</b>
                </div>
        </div>
            {{#each getRecipientsAndGifts}}
                {{> getRecipientsAndGift}}
            {{/each}}
        </div>
    </form>
    </div>
</template>
