<template name="displayAllGifts">
    <tr class="trMainData">
        <td class="col1">
            {{bastasId}}
        </td>
        <td>
            {{route}}
        </td>
        <td>
            {{name.first}} {{name.last}}
        </td>
        <td>
            {{address.streetAddress}}
            {{address.complexName}} {{address.aptNo}}
            {{address.city}}, {{address.state}} {{address.zip}}
        </td>
        <td width="40%">
            {{#each gifts}}
            <tr class="trInner">
                <td>
                    {{giftType}}
                </td>
                <td>
                    {{giftSize}}
                </td>
                {{#if isInRole 'Admin, Editor'}}
                    <td>
                        {{> selectedCB _id=../_id giftType=giftType selected=selected index=@index}}
                    </td>
                    <td>
                        {{> checkedInCB _id=../_id giftType=giftType checkedIn=checkedIn index=@index}}
                    </td>
                    <td>
                        {{> outForDeliveryCB _id=../_id giftType=giftType outForDelivery=outForDelivery index=@index}}
                    </td>
                    <td>
                        {{> deliveredCB _id=../_id giftType=giftType delivered=delivered index=@index}}
                    </td>
                {{else}}
                    <td>
                        <label>Selected:</label> {{selected}}
                    </td>
                    <td>
                        <label>Checked In:</label> {{checkedIn}}
                    </td>
                    <td>
                        <label>Out for Delivery:</label> {{outForDelivery}}
                    </td>
                    <td>
                        <label>Delivered:</label> {{delivered}}
                    </td>
                {{/if}}
            </tr>
            {{/each}}
        </td>

        <td>
        {{#if isInRole 'Admin, Editor, Viewer'}}
            <a id="getRecipDetail" class="waves-effect waves-light btn details">Details</a>
            <br  /><br  />
        {{/if}}
        {{#if isInRole 'Admin, Editor'}}
            <a id="deleteRecip" class="waves-effect waves-light btn delete red">Delete</a>
        {{/if}}
        </td>
    </tr>
</template>
