<template name="getRecipientsAndGiftCheckbox">
    <div class="ui checkbox">
        <input type="checkbox" class="isCheckedIn" checked="{{isCheckedIn}}">
        <label>Checked In</label>
    </div>
    <div class="ui checkbox">
        <input type="checkbox" class="isOutForDelivery" checked="{{isOutForDelivery}}">
        <label>Out For Delivery</label>
    </div>
    <div class="ui checkbox">
        <input type="checkbox" class="isDelivered" checked="{{isDelivered}}">
        <label>Delivered</label>
    </div>
</template>
