<template name="getRecipientsAndGiftsCheckboxes">
    <div>
        <label>Selected</label>
        <div class="switch"><label>Off<input type="checkbox" {{selected}} class="isSelected"><span class="lever"></span>On</label></div>

        <label>Checked In</label>
        <div class="switch"><label>Off<input type="checkbox" {{isCheckedIn}} class="isCheckedIn"><span class="lever"></span>On</label></div>
    </div>
    <div>
        <label>Out For Delivery</label>
        <div class="switch"><label>Off<input type="checkbox" {{isOutForDelivery}} class="isOutForDelivery"><span class="lever"></span>On</label></div>

        <label>Delievered</label>
        <div class="switch"><label>Off<input type="checkbox" {{isDelivered}} class="isDelivered"><span class="lever"></span>On</label></div>
    </div>
</template>
