<template name="getRecipientsAndGift">
            <tr class="trMain">
                <td>
                    {{bastasId}}
                </td>
                <td>
                    {{route}}
                </td>
                <td>
                    {{name.first}} {{name.last}}
                </td>
                <td>
                    {{address.streetAddress}}
                    {{address.complexName}} {{address.aptNo}}
                    {{address.city}}, {{address.state}} {{address.zip}}
                </td>
                <td width="40%">
                    {{#each gifts}}
                    <tr class="trInner">
                        <td>
                            {{giftType}}
                        </td>
                        <td>
                            {{giftSize}}
                        </td>
                        <td>
                            {{> selectedCB _id=../_id giftType=giftType selected=selected}}
                        </td>
                        <td>
                            {{> checkedInCB _id=../_id giftType=giftType checkedIn=checkedIn}}
                        </td>
                        <td>
                            {{> outForDeliveryCB _id=../_id giftType=giftType outForDelivery=outForDelivery}}
                        </td>
                        <td>
                            {{> deliveredCB _id=../_id giftType=giftType delivered=delivered}}
                        </td>
                    </tr>
                    {{/each}}
                </td>

                <td>
                    <a id="getRecipDetail" class="waves-effect waves-light btn details">Details</a>
                </td>
            </tr>
</template>
