<template name="getRecipientsAndGift">
            <tr class="trMain">
                <td>
                    {{bastasId}}
                </td>
                <td>
                    {{route}}
                </td>
                <td>
                    {{name.first}} {{name.last}}
                </td>
                <td>
                    {{address.streetAddress}}
                    {{address.complexName}} {{address.aptNo}}
                    {{address.zip}}
                </td>
                <td width="40%">
                    {{#each gifts}}
                    <tr class="trInner">
                        <td>
                            {{giftType}}
                        </td>
                        <td>
                            {{giftSize}}
                        </td>
                        <td>
                            {{> selectedCB}}
                        </td>
                        <td>
                            <label>Checked In</label>
                            <div class="switch"><label>Off<input type="checkbox" {{checkedIn}} class="isCheckedIn"><span class="lever"></span>On</label></div>
                        </td>
                    </tr>
                    {{/each}}
                </td>

                <td>
                    <a id="getRecipDetail" class="waves-effect waves-light btn details">Details</a>
                </td>
            </tr>
</template>
