<template name="getRecipientsAndGiftsCheckboxes">
    <div>
        <input type="checkbox" checked="{{isSelected}}" id="Selected" class="isSelected" />
        <label for="Selected">Selected {{isSelected}}</label>

        <input type="checkbox" checked={{isCheckedIn}} id="checkedIn" class="isCheckedIn" />
        <label for="checkedIn">Checked In</label>
    </div>
    <div>
        <input type="checkbox" checked={{isOutForDelivery}} id="outForDelivery" class="isOutForDelivery" />
        <label for="outForDelivery">Out For Delivery</label>

        <input type="checkbox" checked={{isDelivered}} id="delivered" class="isDelivered" />
        <label for="delivered">Delivered</label>
    </div>
</template>
