<template name="myRecipients">
    <div class="templateWrapper">
        <div class="container contentInfo">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large green completeThese">
                  <i class="large material-icons">done</i>
                </a>
            </div>
            <p>
                <strong>Below are Seniors you've graciously chosen to provide gifts for in our community.</strong>
            </p>
            {{#each areMyRecipients}}
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="row">
                            <div class="col s12">
                                <div class="card-content blue-grey darken-1 white-text">
                                    <div class="row">
                                        <div class="col s8">
                                            <span class="card-title">{{name.first}}</span>
                                        </div>
                                        <div class="col s4">
                                            <label class="white-text">Gender: </label><span class="personInfo">{{gender}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h5>Gifts</h5>
                                    {{#each gifts}}
                                        <div class="row">
                                            <div class="col l6">
                                                <label>Gift: </label><span class="giftInfo">{{giftType}}</span>
                                            </div>
                                            <div class="col l6">
                                                <label>Size: </label><span class="giftInfo">{{giftSize}}</span>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col s4">
                                            <label>Completed: </label>
                                        </div>
                                        <div class="col s8">
                                            <div class="switch">
                                                <label>
                                                          <input type="checkbox" class="giftBought" id="{{_id}}">
                                                          <span class="lever"></span>
                                                      Complete
                                                </label>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
            {{/each}}
        </div>
    </div>
    {{> snackbar}}
</template>
