<template name="sideNavUser">
    <div id="sideMenu" class="ui left vertical labeled icon thin menu">
        <div class="item" id="home">
            <i class="home icon" id="home"></i>
            Home
        </div>
        <div class="item" id="giveAGift">
            <i class="gift layout icon" id="giveAGift"></i> Give a Gift
        </div>
        <div class="item" id="dashboard">
            <i class="dashboard layout icon" id="dashboard"></i> Dashboard
        </div>
    </div>
</template>
