.cancelHomePageInfoTable, .saveHomePageInfoTable {
    visibility: hidden;
}

.cancelHomePageInfoTable, .saveHomePageInfoTable, .editHomePageInfo, .editHomePageShow, .deleteHomePageInfo {
    cursor: pointer;
}

.homePageImages {
    max-width: 100%;
    height: auto;
}
