<template name="headerLayout">

    <header>
        <div class="ui inverted segment myHeader">
            <h1 class="ui inverted green header">Welcome to Be A Santa To A Senior</h1>
            <div class="ui grid">
                <div class="six column row">
                    <div class="one wide column">
                        {{#if currentUser}}
                            <i id="menuSide" class="sidebar icon"></i>
                        {{/if}}
                    </div>
                    <div class="five wide column">
                            {{> loginButtons}}
                    </div>
                </div>
            </div>
        </div>
    </header>

</template>
