<template name="setupHomeForm">
    <div class="ui container contentInfo">
        <div id="main" class="ui four column grid">
            <div id="FormFields" class="one column row">
                <div class="sixteen wide column">
                    <textarea id="mainHomeInfo" rows="4" class="ui textarea wide" placeholder="Home Page Information"></textarea>
                </div>
            </div>
            <div id="imageUpload" class="one column row">
                <div class="column">
                    Choose an Image to go on the Page with this Post<br />
                    <input type="file" name="homeImage" id="homeImage" accept="image/*" />
                </div>
            </div>
            <div id="cancel" class="column">
                <button id="btnCancelHomeSetup" class="ui orange button">Cancel</button>
            </div>
            <div class="column">

            </div>
            <div class="column">

            </div>
            <div id="btnSubmitHomeSetupdiv" class="right floated column">
                <button id="btnSubmitHomeSetup" class="ui button primary">Save Changes</button>
            </div>
        </div>
    </div>
</template>
