<template name="setupHomeForm">
        <div id="main" class="four column grid">
            <div id="FormFields" class="one column row">
                <div class="column">
                    <input type="textarea" id="mainHomeInfo" class="ui textarea" />
                </div>
            </div>
            <div id="imageUpload" class="one column row">
                <div class="column">
                    <input type="file" name="homeImage" id="homeImage" accept="image/*" />
                </div>
            </div>
            <div id="cancel" class="column">
                <button id="btnCancelHomeSetup" class="ui orange button">Cancel</button>
            </div>
            <div class="column">

            </div>
            <div class="column">

            </div>
            <div id="btnSubmitHomeSetupdiv" class="column">
                <button id="btnSubmitHomeSetup" class="ui button primary">Save Changes</button>
            </div>
        </div>
</template>
