<template name="sideNav">
    <div id="sideMenu" class="ui inverted left vertical sidebar thin menu">
        <a class="item" id="homeNav">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item" id="giveAGiftNav">
            <i class="gift layout icon"></i> Give a Gift
        </a>
        <a class="item" id="dashboardNav">
            <i class="dashboard layout icon"></i> Dashboard
        </a>
        <a class="item" id="recipientsListNav">
            <i class="list icon"></i> Recipients List
        </a>
        <a class="item" id="addRecipientsNav">
            <i class="add user icon"></i> Add Recipients
        </a>
        <a class="item" id="editRecipientsNav">
            <i class="edit icon"></i> Edit Recipients
        </a>
        <a class="item" id="sendReminderNav">
            <i class="send icon"></i> Send Reminder
        </a>
        <a class="item" id="settingsNav">
            <i class="settings icon"></i>Settings
        </a>
    </div>
</template>
