<template name="sideNav">
    <div id="sideMenu" class="ui left vertical labeled icon thin menu">
        <div class="item" id="home">
            <i class="home icon"></i>
            Home
        </div>
        <div class="item" id="giveAGift">
            <i class="gift layout icon"></i> Give a Gift
        </div>
        <div class="item" id="dashboard">
            <i class="dashboard layout icon"></i> Dashboard
        </div>
        <div class="item" id="recipientsList">
            <i class="list icon"></i> Recipients List
        </div>
        <div class="item" id="addRecipients">
            <i class="add user icon"></i> Add Recipients
        </div>
        <div class="item" id="editRecipients">
            <i class="edit icon"></i> Edit Recipients
        </div>
        <div class="item" id="sendReminder">
            <i class="send icon"></i> Send Reminder
        </div>
        <div class="item" id="settings">
            <i class="settings icon"></i>Settings
        </div>
    </div>
</template>
