<template name="sideNav">
    <div id="sideMenu" class="ui left vertical labeled icon thin menu">
        <div class="item" id="home">
            <i class="home icon" id="home"></i>
            Home
        </div>
        <div class="item" id="giveAGift">
            <i class="gift layout icon" id="giveAGift"></i> Give a Gift
        </div>
        <div class="item" id="dashboard">
            <i class="dashboard layout icon" id="dashboard"></i> Dashboard
        </div>
        <div class="item" id="recipientsList">
            <i class="list icon" id="recipientsList"></i> Recipients List
        </div>
        <div class="item" id="addRecipients">
            <i class="add user icon" id="addRecipients"></i> Add Recipients
        </div>
        <div class="item" id="importRecipients">
            <i class="arrow circle down icon" id="importRecipients"></i> Import Recipients
        </div>
        <div class="item" id="sendReminder">
            <i class="send icon" id="sendReminder"></i> Send Reminder
        </div>
        <div class="item" id="settings">
            <i class="settings icon" id="settings"></i> Settings
        </div>
    </div>
</template>
