<template name="adminHeader">
    <header>
        <nav>
            <div class="nav-wrapper myHeader">
              <a href="#" class="center headerText">Be A Santa To A Senior</a>
              {{#if currentUser}}
              <ul id="nav-mobile" class="left">
                  <li class="menu"><a href="#" class="menu"><i class="material-icons menu">more_vert</i></a></li>
              </ul>
              {{else}}
              <ul id="signInRegDiv" class="right">
                  <li>
                      <a class="waves-effect waves-light btn signInReg">Sign In / Up</a>
                  </li>
              </ul>
              {{/if}}
            </div>
        </nav>
    </header>
    {{> sideNavAdmin}}
</template>
