<template name="getRecipientsAndGift">
        <tr>
            <td>
                {{bastasId}}
            </td>
            <td>
                {{route}}
            </td>
            <td>
                {{name.first}}
            </td>
            <td>
                {{name.last}}
            </td>
            <td>
                {{gender}}
            </td>
            <td>
                {{address.streetAddress}}
            </td>
            <td>
                {{address.complexName}}
            </td>
            <td>
                {{address.aptNo}}
            </td>
            <td>
                {{address.zip}}
            </td>
                {{#each gifts}}
                <td>
                    {{giftType}}
                </td>
                <td>
                    {{giftSize}}
                </td>
                <td>
                    <input type="checkbox" checked={{#if isSelected selected}}{{/if}}/>
                </td>
                <td>
                    {{checkedIn}}
                </td>
                {{/each}}
        </tr>
</template>
