<template name="getRecipientsAndGift">
        <tr>
            <td>
                {{bastasId}}
            </td>
            <td>
                {{route}}
            </td>
            <td>
                {{name.first}}
            </td>
            <td>
                {{name.last}}
            </td>
            <td>
                {{gender}}
            </td>
            <td>
                {{address.streetAddress}}
            </td>
            <td>
                {{address.complexName}}
            </td>
            <td>
                {{address.aptNo}}
            </td>
            <td>
                {{address.city}}
            </td>
            <td>
                {{address.state}}
            </td>
            <td>
                {{address.zip}}
            </td>
            <td>
                {{phone.home}}
            </td>
            <td>
                {{phone.cell}}
            </td>
            <td>
                {{notes}}
            </td>
            <td>
                {{gifts.[0].giftType}}
            </td>
            <td>
                {{gifts.[0].giftSize}}
            </td>
        </tr>
</template>
