<template name="getRecipientsAndGift">
        <div class="ui row">
            <div class="column">
                {{bastasId}}
            </div>
            <div class="column">
                {{route}}
            </div>
            <div class="column">
                {{name.first}} {{name.last}}
            </div>
            <div class="two wide column">
                {{address.streetAddress}}
                {{address.complexName}} {{address.aptNo}}
                {{address.zip}}
            </div>
                {{#each gifts}}
                <div class="two wide column">
                    {{giftType}}
                </div>
                <div class="column">
                    {{giftSize}}
                </div>
                <div class="two wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" checked="{{isSelected}}" class="isSelected">
                        <label>Selected</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" id="isCheckedIn" checked="{{isCheckedIn}}">
                        <label>Checked In</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" id="isOutForDelivery" checked="{{isOutForDelivery}}">
                        <label>Out For Delivery</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" id="isDelivered" checked="{{isDelivered}}">
                        <label>Delivered</label>
                    </div>
                </div>
                {{/each}}
                <div class="column">
                    <button id="getRecipDetail" class="ui button primary getRecipDetail">Details</button>
                </div>
        </div>
</template>
