<template name="missingDataModal">
    <div class="ui modal" id="missingDataModalView">
        <div class="header">
            <i class="close icon"></i>
            <div class="missingRequiredInfo">
                <h3>Missing Required Information</h3>
            </div>
        </div>
        <div id="missingDataMessage">
            You have not filled in some required fields.  Please go <br />
            back to the form, and fill in all required fields, then try <br />
            to re-submit the form.
        </div>
        <div>
            <button id="OKMissingData" class="ui positive right labeled icon button">
                OK
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
</template>
