<template name="missingDataModal">
    <div class="ui myModal" id="missingDataModalView">
        <form>
            <div class="myModal-header">
                <i class="material-icons right" id="closeModalCheckmark">done</i>
                <h2 id="myModalTitleHeader"></h2>
            </div>
            <div id="missingDataMessage" class="myModal-content">
                <p id="myModalTextSection"></p>
            </div>
            <div class="modal-footer myModal-content">
                <a id="OKMissingData" class="waves-effect waves-light btn blue">
                    OK
                    <i class="material-icons">done</i>
                </a>
            </div>

        </form>
    </div>
</template>
