<template name="missingDataModal">
    <div class="ui myModal" id="missingDataModalView">
        <form>
            <div class="myModal-header">
                <i class="close icon" id="closeModalX"></i>
                <h2 id="myModalTitleHeader"></h2>
            </div>
            <div id="missingDataMessage" class="myModal-content">
                <p id="myModalTextSection"></p>
                <div>
                    <button id="OKMissingData" class="ui positive right labeled icon button">
                        OK
                        <i class="checkmark icon"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
</template>
